/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html {
  width: 100%;
  background-color: #03A1BF;
  padding: 10% 0 10% 0;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 5rem;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

.yellow {
  color: rgb(255, 162, 0);
}

.green {
  color: rgb(11, 250, 11);
}

.grey {
  color: rgb(41, 41, 60);
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 15vw 0 15vw;
}

.input {
  width: 600px;
  height: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  border-radius: 10px;
  background-color: white;
  color: lightslategray;
  border: none;
  padding-left: 2%;
  margin-right: 5px;
}

.submit {
  width: 60px;
  height: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  border-radius: 10px;
  background-color: rgb(27, 45, 63);
  color: white;
  border: none;
}

.listblock {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 0 15vw 0 15vw;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4EB9CD;
  width: 665px;
  height: auto;
  margin: 30px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  border-radius: 10px;
  border: solid 2px #025F70;
  color: white;
  padding: 6px 3% 5px 3%;
  transition: all 0.75s ease;
}

li:hover {
  background-color: #76CFE0;
}

.deleteButton {
 border: none;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bolder;
 height: auto;
 color: #025F70;
}

.deleteButton:hover {
  color: red;
  transition: all 0.75s ease;
}

.done {
  background-color: rgb(104, 222, 104);
}

.done:hover {
  background-color: rgb(104, 222, 104);
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
