body {
    font-size: 14px;
    background-color: pink;
    /* background-color: #1A1A1A; */
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.leftSection {
    width: 20vw;
}


.middleSection {
    display: flex;
    flex-direction: column;
    width: 40vw;
    border-left: #252525 2px solid;
    border-right: #252525 2px solid;
}

.rightSection {
    width: 40vw;
}

.toDoListItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.completeButton {
    border: 1px solid white;
    border-radius: 2px;
    width: 10px;
    height: 10px;
}

dialog {
    background-color: #252525;
    border: 2px solid #5171F2;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: white;
    gap: 10px;
    width: 500px;
    padding: 5px;
}

form button {
    background-color: #5171F2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

form label {
    font-weight: bold;
}

form input {
    padding: 5px 10px 5px 10px;
    width: 95%;
}