body {
    font-size: 14px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.leftSection {
    width: 20vw;
}


.middleSection {
    display: flex;
    flex-direction: column;
    width: 40vw;
    border-left: #252525 2px solid;
    border-right: #252525 2px solid;
}

.rightSection {
    width: 40vw;
}

.toDoListItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.completeButton {
    border: 1px solid white;
    border-radius: 2px;
    width: 10px;
    height: 10px;
}